{% extends 'base.html' %}
{% block title %}{{ show_project.name }}{% endblock title %}
{% block content %}
{% load static %}

<div>
    <h1>{{ show_project.name }}</h1>
    <p>{{ show_project.description }}</p>
    <h2>Tasks</h2>
    {% if tasks %}
    <table>
        <tr>
            <th>Name</th>
            <th>Assignee</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.assignee }}</td>
            <td>{{ task.start_date }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.is_completed|yesno }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>This project has no tasks</p>
    {% endif %}
</div>

{% endblock content %}